$header_background_color: #333;
$header_text_color: #FDFDFD;

$table_width: 100%;
$table_body_height: 100vh;
$column_one_width: 200px;
$column_two_width: 200px;
$column_three_width: 350px;

.fixed_headers {
  width: $table_width;
  table-layout: fixed;
  border-collapse: collapse;
  display: table;

  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  
  th { text-decoration: underline; }
  th, td {
    padding: 12px 15px;
    text-align: left;
  }
  
  

  thead {
    background-color: $header_background_color;
    color: $header_text_color;
    tr {
      display: block;
      position: relative;
      background-color: #009879;
      color: #ffffff;
      text-align: left;
    }
  }


  tbody {
    display: block;
    overflow: auto;
    width: 100%;
    height: $table_body_height;
    white-space: nowrap;
    font-size: 0.8em;
    padding: 16px 16px 16px 0;
    height: 100vh;
    tr {
      cursor:pointer;
      background-color:rgba(255, 255, 255, 0.2);
      border-bottom: 1px solid #dddddd;
    }
    tr:hover {
      cursor:pointer;
      background-color:rgba(63,81,181,0.2);
      border-bottom: 1px solid #dddddd;
    }
  }

}
table th:nth-child(1), td:nth-child(1) { width: 20vw; }
    table th:nth-child(2), td:nth-child(2) { width: 60vw; }
    table th:nth-child(3), td:nth-child(3) { width: 40vw; }


.old_ie_wrapper {
  height: $table_body_height;
  width: $table_width;
  overflow-x: hidden;
  overflow-y: auto;
  tbody { height: auto; }
}

