
.detail {
    
  background-color: rgba(54, 54, 54, 0.808);
  width: 100vw;
  height: 100vh;
  padding: 0 !important;
  position: fixed;
  margin: 0 auto ;
  background-color: white;
  overflow: scroll;
  transform:  translateY(100%);
  transition:all .3s  ease-out;
 
  &.open {
    transform:  translateY(0);
  }

  
.detail-container {
  margin: 0 auto;
  padding: 40px;
  width: 100vw;
  height: 100%;
  background-color: white;
}


.close {
  background: lightgray;
  padding: 18px;
  color: #fff;
  font-weight: 300;
  z-index: 9999;
  border: 1px solid lightgray;
  border-radius: 4px;
  line-height: 1;
  font-size: 1.8rem;
  position: relative;
  right: 40px;
  top: 20px;
  transition: border .3s linear;
  &:hover, &:focus {
    background-color: cadetblue;
    border: 1px solid cadetblue;
  }
}
}