

.frontPageSettingsTable 
{
    border-color: black;
    border-width: 2px;
    border-style: solid;
    width: 100%;
    
}

.frontPageSettingsTable .inner {
    border: solid 1px black;
    position: sticky;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 150px;
    
    top: 0;
}

#frontMessageListTd {
    border: solid 1px black;
    height: 100%;
    vertical-align: top
}

.item1 { grid-area: header; 
  border-radius: 5px;
  display: inline-block;
  }
.item2 { grid-area: main; 
  overflow-y: scroll;
  height: 100vh;
  border-radius: 5px 5px 5px 5px;}
.item3 { grid-area: right;
          overflow-y: scroll;
          height: 100vh }

        
.item4 { grid-area: footer; }

.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'main main main main main main'
    'footer footer footer footer footer footer';
  gap: 10px;
  
  padding: 10px;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}



$base: #3b3b3b;
$subtle: #54a1a0;
$rain: #2C3845;
$poppy: #BD2A4E;
$mobile-small: 460px;
$mobile: 720px;
* {
  box-sizing: border-box;
}


body {
  padding: 20px;
  background-color: $base;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  color: rgb(0, 0, 0);
  font-size: 1.6rem;
  font-family: 'Lato', sans-serif;
}



.button {
  line-height: 1;
  display: inline-block;
  font-size: 1.2rem;
  text-decoration: none;
  border-radius: 5px;
  color: #fff;
  padding: 8px;
  background-color: darken($subtle,5%);
}
.select {
  &:before {
    display: none;
  }
  padding-bottom: 20px;
  border-bottom: 1px solid darken($rain,2%);
}

@media (min-width: $mobile-small) {
  td {
    text-align: left;
    &:before {
      display: inline-block;
      text-align: right;
      width: 140px;
    }
  }
  .select {
    padding-left: 160px;
  }
}
@media (min-width: $mobile) {
  table {
    display: table;
  }
  tr {
    display: table-row;
  }
  td,th {
    display: table-cell;
  }
  tbody {
    display: table-row-group;
  }
  thead {
    display: table-header-group;
  }
  tfoot {
    display: table-footer-group;
  }
  td {
      border: 1px solid darken($rain,2%);
    &:before {
      display: none;
    }
  }
  td,th {
    padding: 10px;
  }
  
  tfoot th {
    display: table-cell;
  }
  .select {
    padding: 10px;
  }
}